[submodule "Wildebeast/vendor/spdlog"]
	path = Wildebeast/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wildebeast/vendor/imgui"]
	path = Wildebeast/vendor/imgui
	url = https://github.com/chrisprijic/imgui
