[submodule "Wildebeast\\vendor\\spdlog"]
	path = Wildebeast\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wildebeast\\vendor\\GLFW"]
	path = Wildebeast\\vendor\\GLFW
	url = https://github.com/chrisprijic/glfw
